* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

:root {
  --main-bg-color: #6b7379;
  --font-color: #ffffff;
  --highlight-color: #d7f205;
  --dark-color: #0b1014;
  --title-font: "Roboto Mono", monospace;
  --paragraph-font: "Open Sans", sans-serif;
  /* --paragraph-font: "Cabin", sans-serif; */
  --logo-font: "Libre Baskerville", serif;
}
body {
  background-color: var(--main-bg-color);
  color: var(--font-color);
  font-family: var(--paragraph-font);
  font-weight: lighter;
}
a {
  text-decoration: none;
  color: var(--font-color);
}
ul {
  display: flex;
  list-style-type: none;
  gap: 2rem;
}
.gradient {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(215, 242, 5, 1) 50%,
    rgba(107, 115, 121, 1) 100%
  );
  height: 2px;
}
.button {
  background-color: var(--main-bg-color);
  padding: 0.5rem;
  border-radius: 5px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-left: 1rem;
}
header h1 a {
  font-size: 2rem;
}
header [class*="fa-"] {
  font-size: 170%;
  color: var(--highlight-color);
}
header [class*="fa-"]:hover {
  color: var(--main-bg-color);
  transition: 0.4s;
}

section {
  padding: 4rem 3rem;
}
h2 {
  margin-bottom: 2rem;
}
.viewport-height {
  background-color: var(--dark-color);
}
.desktop-logo {
  display: none;
}

/* NAV BAR STYLING */

.mobile-nav-toggle {
  background: url("https://img.icons8.com/ios-glyphs/30/ffffff/menu--v1.png");
  width: 2rem;
  height: 2rem;
  border: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 9999;
}
.nav-bar ul {
  flex-direction: column;
  position: fixed;
  background: hsl(207, 29%, 6%, 0.95);
  inset: 0 0 0 0%;
  padding-top: 2rem;
  padding-left: 2rem;
  z-index: 1000;
  transform: translateX(100%);
  transition: transform 350ms ease-out;
}
.nav-bar[data-visible="true"] ul {
  transform: translateX(0%);
  transition: transform 350ms ease-out;
}
.mobile-nav-toggle[aria-expanded="true"] {
  background: url("https://img.icons8.com/ios-filled/50/ffffff/delete-sign--v1.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 2rem;
}
/* BRANDING SECTION */
.branding-section {
  text-align: center;
}
.branding-section .my-name {
  display: block;
  padding: 2rem 0;
  font-size: 3rem;
  color: var(--highlight-color);
  font-family: var(--title-font);
}
.branding-section .job-title {
  font-size: 2rem;
  padding-bottom: 2rem;
  font-family: var(--title-font);
}
.branding-section p {
  padding: 0.5rem 0;
  font-size: 1rem;
  font-weight: lighter;
}

/* PROJECT SECTION */

.projects-section {
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
}
.projects-section img {
  width: 100%;
  border-top: white 1px solid;
  border-left: white 1px solid;
  padding: 0.7rem;
  border-radius: 10px;
}
.project-description-title {
  font-weight: lighter;
}
.project-title {
  font-family: var(--title-font);
  color: var(--highlight-color);
  font-weight: lighter;
  margin-bottom: 1rem;
}
.project-description {
  background-color: var(--dark-color);
  max-width: 100%;
  padding: 1rem;
  border-radius: 7px;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
.projects-layout {
  margin-bottom: 3rem;
}
.projects-section p:nth-of-type(2) {
  /*Selects every <p> element that is the second <p> element of its parent */
  font-size: 0.8rem;
}
/* CONTACT ME SECTION */
.contact-section {
  background-color: var(--dark-color);
  text-align: center;
}
.contact-section p {
  margin-bottom: 2rem;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 4rem 3rem;
}
footer p {
  display: flex;
  justify-content: space-around;
}
footer a {
  font-size: 4rem;
  color: var(--dark-color);
}

footer a:hover {
  color: var(--highlight-color);
  font-size: 3.7rem;
  transition: all 400ms linear;
}
@media screen and (min-width: 1194px) {
  .desktop-logo {
    display: block;
  }
  .mobile-logo {
    display: none;
  }
  .mobile-nav-toggle {
    display: none;
  }
  header {
    padding-top: 2rem;
    padding-left: 2rem;
    padding: 2rem 2rem 0rem 2rem;
    align-items: center;
  }
  a {
    font-size: 1.2rem;
  }
  section {
    padding-left: 7rem;
    padding-right: 7rem;
  }
  .nav-bar ul {
    flex-direction: row;
    position: inherit;
    justify-content: center;
    align-items: center;
    transform: translateX(0%);
    padding: 0;
  }
  .projects-layout {
    display: flex;
  }
  .projects-text-layout {
    margin-left: 2rem;
    max-width: 50%;
  }
  .contact-section p {
    max-width: 500px;
    margin: auto;
    margin-bottom: 2rem;
  }
  footer p {
    max-width: 500px;
    margin: auto;
  }
}
@media screen and (width: 1024px) and (orientation: portrait),
  screen and (width: 834px) and (orientation: portrait),
  screen and (width: 926px) and (orientation: landscape),
  screen and (width: 896px) and (orientation: landscape) {
  .projects-layout {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .projects-text-layout {
    margin-left: 2rem;
    max-width: 50%;
  }
  .contact-section p {
    max-width: 500px;
    margin: auto;
    margin-bottom: 2rem;
  }
  footer p {
    max-width: 500px;
    margin: auto;
  }
}
@media screen and (min-width: 1366px) {
  header {
    max-width: 1400px;
    margin: auto;
    padding-left: 0;
    padding-right: 0;
  }
  section {
    max-width: 1400px;
    margin: auto;
    padding: 7rem 0 3rem 0;
  }
  .viewport-height {
    height: 100vh;
  }
  a:hover {
    color: var(--main-bg-color);
    transition: 0.4s;
  }
  .branding-section {
    text-align: left;
  }
  .branding-section .my-name {
    display: block;
    font-size: 4rem;
  }
  .branding-section .job-title {
    font-size: 3rem;
  }
  .branding-section p {
    padding: 0.5rem 0;
    font-size: 1rem;
    font-weight: lighter;
  }
  .project-description {
    font-size: 1rem;
  }
  .projects-section p:nth-of-type(2) {
    font-size: 1rem;
  }
  .contact-section {
    padding: 4rem 3rem;
    max-width: 100%;
  }
}
